
/.idea/
/cmureportUI/target/
/cmureportUI/cmureportUI.iml
/core/target/
/core/core.iml
/jiraconsumer-config/jiraconsumer-config.iml
/jiraconsumer-config/target/
/jiraconsumer-config/config.properties
/amadeus-cmu-report.iml
