<!DOCTYPE html>
<html>
<head>
    <title>Hello World, AngularJS - ViralPatel.net</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script type="text/javascript" src="/js/project.js"></script>
</head>
<body>

<div ng-app="projectApp" ng-controller="projectController">

    OAuth Token: <input type="text" ng-model="oauthToken"><br>
    OAuth Verifier: <input type="text" ng-model="oauthVerifier"><br>
    <br>
    Together: {{oauth_token + " " + oauth_verifier}}


    <div ng-app="projectApp" ng-controller="projectController">

        <div ng-repeat="project in projects">
            project.name
        </div>

    </div>
</div>

</body>
</html>